    .logo-image {
        height: 30px;
        margin-right: 20px;
    }

    .nav-links {
        display: flex;
        gap: 15px;
    }
    
    .nav-links button {
        font-size: 14px;
        color: #333;
        text-transform: capitalize;
    }
    
    .nav-links button:hover {
        color: #2e7d32;
    }

/* AppBar and Toolbar */
  .appbar {
    background-color: white !important; /* Set the background to solid white */
    color: #333 !important; /* Optional: Set the text color */
    position: sticky; /* Ensure the navbar stays at the top when scrolling */
    top: 0; /* Align the navbar to the top */
    z-index: 1000; /* Ensure it appears above other content */
    border-bottom: 1px solid #ddd; /* Optional: Add a subtle border at the bottom */
    box-shadow: none !important; /* Remove any default Material UI shadows */
    }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .contact-us-button {
    font-weight: 700 !important;
    font-family: Helvetica, "sans-serif" !important;
    background-color: #045940 !important; /* Green background */
    color: white !important; /* White text */
    border: 1px solid transparent !important;
    border-radius: 10px !important;
    padding: 10px 30px !important;
    text-transform: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;
  }

  .contact-us-button:hover {
    background-color: #0d2f0f !important; /* Darker green on hover */
  }
  
  